.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo{
    img {
    height: 70px;
    width: 200px;
  }
}

.nav-links{
    display: flex;
    gap: 20px;
    margin-right: 70px;

    a{
        color: rgb(0, 0, 0);
        height: 60px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        align-content: center;
        justify-content: center;
    }

    a:hover {
        color: black; 
        font-weight: 800;
        text-decoration: underline;
    }

    a:focus {
        outline: none;
    }
}
